In [1]:
import pandas as pd
import numpy as np

In [229]:
df=pd.read_csv("C:\\Users\\manas\\Downloads\\archive.zip")

In [228]:
#Which team has the highest win percentage overall in T20 World Cups?
#Win % = (Total Wins / Total Matches Played) Ã— 100
wins=df["Winners"].value_counts()
matches=pd.concat([df["1st Team"],df["2nd Team"]]).value_counts()
print("_"*50)
win_percent=(round((wins/matches)*100,2).sort_values(ascending=False)).fillna(0)
print("\t\tWINNING PERCENTAGES")
print("_"*50)
print(f"{win_percent}")
print("_"*50)
print("\tMaximum Winning Percentage")
print("_"*50)

win_teams=list(win_percent[win_percent==win_percent.max()])
win_team=list(win_percent[win_percent==win_percent.max()].index)
for f in win_team:
    print(f"{f:<15}:{win_percent.loc[f]}%")
print("_"*50)

__________________________________________________
		WINNING PERCENTAGES
__________________________________________________
India                      88.89
South Africa               88.89
Australia                  71.43
Afghanistan                66.67
West Indies                66.67
England                    50.00
New Zealand                50.00
Pakistan                   50.00
Scotland                   50.00
Bangladesh                 42.86
United State Of America    28.57
Canada                     25.00
Namibia                    25.00
Netherlands                25.00
Sri Lanka                  25.00
Uganda                     25.00
Ireland                     0.00
Nepal                       0.00
Oman                        0.00
Papua New Guinea            0.00
Rain                        0.00
Name: count, dtype: float64
__________________________________________________
	Maximum Winning Percentage
__________________________________________________
India          :88.89%
South Africa   :88.89%
__________________________________________________

In [279]:
#Is batting first or chasing more successful in T20 World Cups?
bc=df["Won by"]
bat_chase=bc[~(bc=="Rain")]
wick=bat_chase[bat_chase=="Wickets"].count()
runs=bat_chase[bat_chase=="Runs"].count()
batcha=f"Batting First is more successful with {runs} Wins" if runs>wick else f"Chasing First is more successful wint {wicks} Wins"
print(batcha)
print("_"*50)
print("\t\tTeams Won By Wickets(CHASING)")
print("_"*50)
print(df.loc[df["Won by"] == "Wickets", "Winners"].value_counts())
print("_"*50)
print("\t\tTeams Won By Runs(BATTING)")
print("_"*50)
print(df.loc[df["Won by"] == "Runs", "Winners"].value_counts())
print("_"*50)

Batting First is more successful with 26 Wins
__________________________________________________
		Teams Won By Wickets(CHASING)
__________________________________________________
Winners
South Africa               4
England                    3
Afghanistan                2
India                      2
Scotland                   2
Pakistan                   2
Australia                  2
New Zealand                2
United State Of America    1
Namibia                    1
Netherlands                1
Uganda                     1
Bangladesh                 1
West Indies                1
Name: count, dtype: int64
__________________________________________________
		Teams Won By Runs(BATTING)
__________________________________________________
Winners
India                      6
Afghanistan                4
South Africa               4
Australia                  3
West Indies                3
Bangladesh                 2
United State Of America    1
Canada                     1
England                    1
Sri Lanka                  1
Name: count, dtype: int64
__________________________________________________

In [344]:
#Who are the top 10 run-scorers in all T20 World Cups?
Top10=df["Top Scorer"]
print("\t\tTop 10 Players")
print("_"*50)
df.loc[~(df["Highest Score"]=="Rain"),"Highest Score"].head(10)
for ind in df.loc[~(df["Highest Score"]=="Rain"),"Highest Score"].head(10).sort_values(ascending=False).index:
    print(f"{df.loc[ind,"Top Scorer"]:<20} : {df.loc[ind,"Highest Score"]} Runs")
print("_"*50)

		Top 10 Players
__________________________________________________
Aaron Jones          : 94 Runs
Rahmanullah Gurbaz   : 76 Runs
Marcus Stoinis       : 67 Runs
Max O'Dowd           : 54 Runs
Rohit Sharma         : 52 Runs
Monank Patel         : 50 Runs
Gulbadin Naib        : 49 Runs
Jan Frylinck         : 45 Runs
Riazat Ali Shah      : 33 Runs
Quinton de Kock      : 20 Runs
__________________________________________________

In [391]:

df["First Innings Score"] = pd.to_numeric(df["First Innings Score"], errors='coerce')
first=df.groupby("Venue")["First Innings Score"]
print("_"*80)
print("\t\tAverage First-Innings Scores By Venue")
for f,i in first:
    print("_"*80)
    print("Venue                :",f)
    print("Avg 1st Innings Score:",i.mean())

________________________________________________________________________________
		Average First-Innings Scores By Venue
________________________________________________________________________________
Venue                : Arnos Vale Ground, Kingstown, St Vincent
Avg 1st Innings Score: 128.6
________________________________________________________________________________
Venue                : Brian Lara Stadium, Tarouba, Trinidad
Avg 1st Innings Score: 83.6
________________________________________________________________________________
Venue                : Central Broward Regional Park Stadium Turf Ground, Lauderhill
Avg 1st Innings Score: 106.0
________________________________________________________________________________
Venue                : Daren Sammy National Cricket Stadium, Gros Islet, St Lucia
Avg 1st Innings Score: 191.16666666666666
________________________________________________________________________________
Venue                : Grand Prairie Stadium, Dallas
Avg 1st Innings Score: 145.75
________________________________________________________________________________
Venue                : Kensington Oval, Bridgetown, Barbados
Avg 1st Innings Score: 146.55555555555554
________________________________________________________________________________
Venue                : Nassau County International Cricket Stadium, New York
Avg 1st Innings Score: 107.625
________________________________________________________________________________
Venue                : Providence Stadium, Guyana
Avg 1st Innings Score: 138.0
________________________________________________________________________________
Venue                : Sir Vivian Richards Stadium, North Sound, Antigua
Avg 1st Innings Score: 132.0

In [456]:
df["Best Bowler Figure(Wickets Taken)"] = pd.to_numeric(df["Best Bowler Figure(Wickets Taken)"], errors='coerce')
best=df.groupby("Best Bowler")["Best Bowler Figure(Wickets Taken)"].sum().sort_values(ascending=False).head(10)
print("_"*50)

print("\t\tTop 10 Wicket-Takers")
print("_"*50)
for be,bo in best.items():
    print(f"{be:<20} : {bo}")

__________________________________________________
		Top 10 Wicket-Takers
__________________________________________________
Nosthush Kenjige     : 30.0
Alpesh Ramjani       : 17.0
Rashid Khan          : 11.0
Fazalhaq Farooqi     : 11.0
Arshdeep Singh       : 7.0
Adil Rashid          : 7.0
Tanzim Hasan Sakib   : 7.0
Tabraiz Shamsi       : 7.0
Adam Zampa           : 6.0
Akeal Hosein         : 5.0